html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('/static/pictures/clean.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center-container {
    text-align: center;
}

.container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    margin: 0.5rem 0;
}


/* billeder af kendte */
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 90vw;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-gallery img {
    width: 100%;    /* make the image fit the grid cell */
    height: auto;   /* maintain aspect ratio */
    max-height: 175px;     /* Adjust this value as needed */
    object-fit: cover; /* crop if needed to fill */
    border-radius: 8px; /* optional, for rounded corners */
}