html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}


body {
    background: url('/static/pictures/clean.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.center-container {
    text-align: center;
}

.container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    margin: 0.5rem 0;
}
